<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_CUAHANGADIDAS.Properties.Settings.QL_CUAHANGADIDASConnectionString" connectionString="Data Source=35.187.252.239;Initial Catalog=QL_CUAHANGADIDAS;Persist Security Info=True;User ID=sqlserver;Password=TerMiNaTor_309" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
